apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: radix-sub-pipeline-example
spec:
  build:
    secrets:
      - DB_SERVER
      - DB_PASSWORD
      - CERT_PRIV_KEY
      - DB_USER
  environments:
    - name: dev
      build:
        from: pipeline-example-with-secrets
  components:
    - name: frontend
      src: frontend
      ports:
        - name: http
          port: 8001
      publicPort: http
  dnsAppAlias:
    environment: dev
    component: frontend